:root{
    --main-bg: #F9CEEE;
    --container-bg: #fff;
    --lightbgshadow: rgba(0,0,0,0.2);
    --blackbtn: #1B1A17;
    --lightgrey: #EEEEEE;
    --pink:#FF8080;
    --violet: #998CEB;
    --white:#F9F9F9;
    --darkwhite:#e4e6e6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg);
}
.container{
    overflow: hidden;
    position: relative;
    width: 400px;
    border-radius: 10px;
    padding: 25px 30px;
    background-color: var(--container-bg);
    box-shadow: 0 6px 15px var(--lightbgshadow);
}
.container i{
    cursor: pointer;
}
.container .top-bar, .progress-area .timer, .controls,.music-list .header , .music-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .top-bar i{
    font-size: 30px;
    color: var(--blackbtn);
}
.top-bar span{
    font-size: 18px;
    color: var(--blackbtn);
}
.img-container{
    height: 256px;
    width: 100%;
    background: pink;
    border-radius: 10px;
    box-shadow: 0px 6px 12px var(--lightbgshadow);
    overflow: hidden;
    margin-top: 25px;
}
.img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.song-details{
    text-align: center;
    margin: 30px 0;
    color: var(--blackbtn);
}
.song-details .name{
    font-size: 21px;
}
.song-details .artist{
    opacity: 0.9;
    font-size: 16px;
}
.progress-area{
    height: 6px;
    width: 100%;
    background-color: var(--lightgrey);
    border-radius: 50px;
    cursor: pointer;
}
.progress-area .progress-bar{
    height: inherit;
    width: 50%;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
    position: relative;
}
.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    background: #000;
    border-radius:inherit;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
    opacity: 1;
}
.progress-area .timer{
    margin-top: 2px;
}
.timer span{
    font-size: 13px;
    color: var(--blackbtn);
}
.controls{
    margin: 40px 0 5px 0;
}
.controls i{
    font-size: 28px;
    user-select: none;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),.controls i:nth-child(4){
    font-size: 42px;
}
.controls #prev{
    margin-right: -13px;
}
.controls #next{
    margin-right: -13px;
}
.controls .play-pause{
    height: 54px;
    width: 54px;
    background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
    box-shadow: 0 0 5px var(--main-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-pause::before{
    content: "";
    position: absolute;
    height: 43px;
    width: 43px;
    border-radius: 50%;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}
.play-pause i{
    position: relative;
    background: inherit;
    border-radius: 50%;
    line-height: 43px;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.music-list{
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    background: var(--white);
    transition: all 0.2s ease;
}
.music-list.show{
    opacity: 1;
    bottom: 0;
    pointer-events: auto;
}
.music-list .header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--blackbtn);
}
.header .row i{
    cursor: default;
}
.header .row span{
    margin-left: 5px;
}
.header #close{
    font-size: 22px;
    color: var(--blackbtn);
}
.music-list ul{
    margin: 10px 0;
    max-height: 260px;
    overflow-y: auto;
}
.music-list ul::-webkit-scrollbar{
    width: 0;
}
.music-list ul li{
    cursor: pointer;
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: var(--blackbtn);
    border-bottom: 1px solid #e5e5e5;
}
.music-list ul li:last-child{
    border-bottom: 0;
}
.music-list ul li .row span{
    font-size: 17px;
}
ul li .row p{
    opacity: 0.8;
}
ul li .audio-duration{
    font-size: 16px;
}